@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Coin Combinations</h1>
  <h4>Enter amount of cents and we will return you a change</h4>
  <form action="cents" method="post">
    <label for="input-cents">Enter an amount:</label>
    <input id="input-cents" name="input-cents" type="number">
    <button id="submit" class="btn btn-primary btn-lg" type="submit">Run!</button>
  </form>

</div>
