@* <div class="container"> *@
  <h2>Result:</h2>


    <ul>Your change is:
      @foreach (var item in @Model) {
        <li>@item</li>
      }
    </ul>
    <p><a href="/">Back to home.</a></p>

@* <div> *@
